/* Hide the bookmark button, reader mode button, and address dropdown button in the address bar */
.addressfield .add-bookmark-container.addressfield-popup-container,
.addressfield .reader-mode.button-addressfield,
.addressfield .input-dropdown.button-addressfield {
	display: none;
}

/* Hide extensions overflow menu next to the address bar */
.toolbar-addressbar .button-toolbar.toggle-extensions-group {
	display: none;
}

/* Hide new tab button */
.button-tabbar.newtab {
	display: none;
}

/* Hide Vivaldi menu button */
#titlebar .vivaldi {
	display: none;
}
.win #tabs-container.top {
	padding-left: 0;
}

/* Hide Extended Validation certificate organization name */
.addressfield .addressfield-siteinfo.certified .siteinfo-text {
	display: none;
}
.addressfield .addressfield-siteinfo .siteinfo-symbol {
	/* Hide 1px right border on green square, both in EV and non-EV mode */
	margin-right: -1px;
}
.addressfield .addressfield-siteinfo.certified .siteinfo-symbol {
	border-top-right-radius: var(--radiusRoundedLess);
	border-bottom-right-radius: var(--radiusRoundedLess);
}