/* Hide the bookmark button, reader mode button, and address dropdown button in the address bar */
.addressfield > .toolbar .button-toolbar,
.addressfield > .toolbar .toolbar {
	display: none;
}
.addressfield .pageload .pageload-ticker:last-child {
	margin-right: 0;
	border-right: none;
}

/* Hide extensions overflow menu next to the address bar.
 * You can show and hide extension buttons using Ctrl+E or Settings > Address Bar > Extension Visibility.
 *  - When set to "Toggle Only Hidden Extensions", any extension buttons that have been marked as Show Button (from the button context menu) will be visible.
 *  - When set to "Toggle All Extensions", all extension buttons will be hidden.
 */
.toolbar-extensions .extensionPopupIcons,
.toolbar-extensions .button-toolbar[class="button-toolbar"] {
	display: none;
}

/* Hide new tab button */
.button-toolbar.newtab {
	display: none;
}
/* Make tabs fill in remaining empty space */
#tabs-container.top > .resize {
	margin-right: 5px;
}
.win.maximized #tabs-container.top > .resize {
	margin-right: 2px;
}

/* Hide Vivaldi menu button */
#titlebar .vivaldi {
	display: none;
}
.win #tabs-container.top {
	padding-left: 0;
}

/* Hide Extended Validation certificate organization name */
.addressfield .SiteInfoButton.certified .siteinfo-text {
	display: none;
}
#browser:not(.private) .SiteInfoButton,
#browser:not(.private) .SiteInfoButton-SecurityBadge {
	border-top-left-radius: var(--radiusRoundedLess);
	border-bottom-left-radius: var(--radiusRoundedLess);
}

/* Hide unsecure HTTP icon and warning in address bar */
.addressfield .SiteInfoButton.warning,
.addressfield .SiteInfoButton.web,
.addressfield .SiteInfoButton.internal {
	display: none;
}

/* Reduce rounded corners of progress bar peeking through */
.addressfield .pageload .pageload-indicator::-webkit-progress-value {
	border-radius: 0 !important;
}

/* Fix URL text in address bar being too low by 1px, should be vertically centered */
.UrlBar-UrlField {
	padding-top: 5px;
}

/* Hide focus border on address field */
.addressfield:focus-within {
	border-color: transparent;
	box-shadow: none;
}

/* Hide synced tabs and closed tabs buttons */
.sync-and-trash-container {
	display: none;
}

/* Remove extra space above tabs when window is not maximized */
.win.normal #tabs-container.top {
	padding-top: 0;
}