/*
 * Vivaldi developer tools: vivaldi.exe --debug-packed-apps
 */

/*
 * Hide the bookmark, reader mode, blocked content, and address dropdown buttons in the address bar
 * Leave the QR code, translate, and RSS buttons visible
 */
.UrlBar-AddressField .toolbar.toolbar-small button[title="Reader View"], /* Reader View */
.UrlBar-AddressField .BookmarkButton, /* Bookmark */
.UrlBar-AddressField .toolbar.toolbar-small button[title="Show typed history"], /* Address dropdown */
.UrlBar-AddressField .toolbar.toolbar-small button[title="Content has been blocked."] { /* Cookies or other contents were blocked */
	display: none;
}
.UrlBar-AddressField .pageload .pageload-ticker:last-child {
	margin-right: 0;
	border-right: none;
}

/* Hide extensions overflow menu next to the address bar.
 * You can show and hide extension buttons using Ctrl+E or Settings > Address Bar > Extension Visibility.
 *  - When set to "Toggle Only Hidden Extensions", any extension buttons that have been marked as Show Button (from the button context menu) will be visible.
 *  - When set to "Toggle All Extensions", all extension buttons will be hidden.
 */
.toolbar-extensions .extensionPopupIcons,
.toolbar-extensions .button-toolbar[class="button-toolbar"] {
	display: none;
}
.toolbar-extensions {
	min-width: initial !important;
}

/* Hide new tab button */
.button-toolbar.newtab {
	display: none;
}
/* Make tabs fill in remaining empty space */
#tabs-container.top > .resize {
	margin-right: 5px;
}
.win.maximized #tabs-container.top > .resize {
	margin-right: 2px;
}

/* Hide Vivaldi menu button */
#titlebar .vivaldi {
	display: none;
}
.win #tabs-container:not(.none).top {
	padding-left: 0;
}

/* Hide Extended Validation certificate organization name */
.UrlBar-AddressField .SiteInfoButton.certified .siteinfo-text {
	display: none;
}
#browser:not(.private) .SiteInfoButton,
#browser:not(.private) .SiteInfoButton-SecurityBadge {
	border-top-left-radius: var(--radiusRoundedLess);
	border-bottom-left-radius: var(--radiusRoundedLess);
}

/* Make the Extended Validation lock icon be the same color as the normal one */
.UrlBar-AddressField .SiteInfoButton.certified {
	fill: var(--colorFgFadedMore);
}

/* Reduce rounded corners of progress bar peeking through */
.UrlBar-AddressField .pageload .pageload-indicator::-webkit-progress-value {
	border-radius: 0 !important;
}

/* Fix URL text in address bar being too low by 1px, should be vertically centered */
.UrlBar-UrlFieldWrapper {
	margin-top: -1px;
}

/* Hide focus border on address field */
.UrlBar-AddressField:focus-within {
	outline: none;
}

/* Remove extra space above tabs */
.tabs-top.address-top#browser.win:not(.fullscreen, .disable-titlebar) #header {
	min-height: calc(26px / var(--uiZoomLevel));
}
#browser.tabs-top.stacks-substrip #header:has(#tabs-subcontainer) {
	height: calc(61px / var(--uiZoomLevel));
}
.win.normal #tabs-tabbar-container.top {
	padding-top: 0;
}

/* Make title bar buttons (minimize, maximize/restore, close) the correct height for our thinner tab bar */
#tabs-container {
	min-height: 26px;
}
.tabs-top.address-top#browser.win:not(.fullscreen, .disable-titlebar) #tabs-tabbar-container,
#titlebar .window-buttongroup button:not(.vivaldi),
#titlebar .window-buttongroup button:not(.vivaldi) {
	height: 26px !important;
}
.tab-position .tab .tab-header {
	flex-basis: 26px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.toolbar-tabbar > .button-toolbar > button {
	height: 26px;
	width: 26px;
	min-height: auto;
	min-width: auto;
}

/* Make close button red colors the same as Windows 10 Explorer in dark mode */
#browser.win #header #titlebar .window-buttongroup button.window-close:hover:active {
	background-color: #8b0a14;
}
#browser.win #header #titlebar .window-buttongroup button.window-close:hover {
	background-color: #e81123;
}

/* Hide content blocker button in URL bar */
.ContentBlocker-Control {
	display: none;
}

/* Get rid of Start Page background fading every single time you load it */
.startpage {
	transition: none;
}

/* 
 * Hide the back and forward buttons.
 * I'm not removing them using Customize › Remove From Toolbar because I still want to trigger synthetic right-clicks on them to show their context menus using custom.js.
 */
.toolbar-mainbar [title ^= "Go to previous page"],
.toolbar-mainbar [title ^= "Go to next page"] {
	display: none !important;
}
.UrlBar {
	height: 34px;
}

/* Clickable URL subdomain segments */
.UrlFragment-LinkWrapper:hover .UrlFragment--Highlight {
	text-decoration: underline;
}
.UrlFragment-LinkWrapper:hover > .UrlFragment-Link:nth-child(1):hover {
	text-decoration: unset;
}
.UrlFragment-LinkWrapper:hover > .UrlFragment-Link:nth-child(1):hover > span > span:hover,
.UrlFragment-LinkWrapper:hover > .UrlFragment-Link:nth-child(1):hover > span > span:hover ~ span {
	text-decoration: underline;
}

/* Prevent modal dialogs (like Translate Page) from being positioned so they're cut off by the edge of the window when their opening button is hidden or very close to the window edge. */
.button-popup > #modal-bg {
	left: unset;
	right: 0;
	transform: unset;
}

/* Give address bar some margins */
.UrlBar-AddressField {
	margin: 0 5px;
}

/* Hide the Customize gear icon on the Speed Dial page */
.SpeedDialView-Settings-Button {
	display: none;
}
